#ENV
.env
.env.example
Homestead.json
Homestead.yaml

#PUBLIC
/public/hot
/public/storage
/public/css
/public/css/**
/public/images
/public/fonts
/public/js
/public/js/**
/public/videos
/public/mix-manifest.json
/public/plugins/bower_components/

#STORAGE
/storage/*.key
/storage/app/**
/storage/debugbar/**
/storage/framework/**
/storage/logs/**
/storage/backups/**
/storage/laravel-backups/**

#VENDOR
/vendor
/node_modules
npm-debug.log
yarn-error.log

#IDEs
.phpstorm.meta.php
_ide_helper.php
/nbproject
/nbproject/**
/nbproject/private/
*.sublime-project
*.sublime-workspace
/out/
.idea_modules/
atlassian-ide-plugin.xml

#TESTS
.phpunit.result.cache

#LARAVEL ECHO SERVER
laravel-echo-server.json
